h1 {
    display: inline;
    font-size: 40px;
}

ul {
    list-style-type: none;
    float: right;
    padding: 0;
}

li {
    display: inline;
}

button {
    padding: 5px 5px;
    border: 1px solid white;
    background: none;
}

button:hover {
    border: 1px solid gray;
    border-radius: .5em;
}

table {
    clear: both;
}

thead {
    background-color: lightblue;
}

