#header {
    position: relative;
    margin-bottom: 1em;
    height: 3em;
}

h1 {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0;
    font-size: 2em;
}

#control-buttons {
    position: absolute;
    right: 0;
    bottom: 0;
}

button {
    padding: 5px 5px;
    border: 1px solid white;
    background: none;
}

button:hover {
    border: 1px solid gray;
    border-radius: .5em;
}

thead {
    background-color: lightblue;
}

